{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>

  <form action="{% url 'notificacion:index' %}" method="POST" class="mb-4">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="submit" class="btn btn-primary" />
  </form>

  {% for notificacion in notificaciones %}
    <div class="card mb-2">
      <div class="card-body">
        {{ notificacion.id }} : {{ notificacion.title }}
        {% comment %} <a href="{% url 'notificacion:show' notificaion.id %}" class="btn btn-primary">ver</a> {% endcomment %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
